{% extends 'base.html' %}
{% block title %}IITM APP{% endblock title %}
{% block body %}
{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    {% load compress %}

    {% compress css %}
    <link type="text/x-scss" href="{% static '/scss/index.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <script>let openBtn = document.getElementById("open-btn");
        let closeBtn = document.getElementById("close-btn");
        let mobileHeader = document.getElementById("mobile-header-div");

        openBtn.addEventListener("click", function () {
            mobileHeader.classList.add("active");
        });

        closeBtn.addEventListener("click", function () {
            mobileHeader.classList.remove("active");
        });</script>

</head>

<header id="desktop-header">
    <div class="home-content">
        <h2 style="color:rgb(255, 255, 255)">IITM APP</h2>
    </div>
    <nav>
        <ul>
        </ul>
        <ul>
            <li><a href="{% url 'login_user' %}">Log In</a></li>
            <li><a href="{% url 'register_user' %}">Sign Up</a></li>
        </ul>
    </nav>
    <div class="header-btn" id="open-btn">
        <img src="https://rvs-payment-landing-page.vercel.app/Assets/menu.svg" alt="">
    </div>
</header>

<div id="mobile-header-div">
    <header id="mobile-header">
        <div class="header-top">
            <div class="header-img">
                <a href="index.html"><img src="https://rvs-payment-landing-page.vercel.app/Assets/logo.png" alt=""></a>
            </div>
            <div class="header-btn" id="close-btn">
                <img src="https://rvs-payment-landing-page.vercel.app/Assets/close.svg" alt="">
            </div>
        </div>
        <nav>
            <ul>
            </ul>
            <ul>
                <li><a href="#!">Log In</a></li>
                <li><a href="#!">Sign Up</a></li>
            </ul>
        </nav>
    </header>
</div>

<main>
    <section class="home">
        <div class="home-content">
            <h6>IITM APP</h6>
            <h1>Track Down Location with our app</h1>
            <a href="#!">Download <img src="https://rvs-payment-landing-page.vercel.app/Assets/download.svg" alt=""></a>
        </div>
        <div class="home-img">
        </div>
    </section>
</main>

</html>
{% endblock body %}